<div class="container">
  <h1>All Products List</h1>
  <div class="container">
    <div class="row">
      <h1 class="text-center my-3">All Users</h1>
      <div
        class="alert alert-primary m-3 p-2"
        role="alert"
        *ngIf="isDisabled"
        [ngClass]="success === true ? 'alert-primary' : 'alert-danger'"
      >
        {{ showMsg }}
      </div>
      <table class="table table-bordered">
        <caption>
          All Products from database
        </caption>
        <thead>
          <tr class="align-middle p-1 text-center">
            <th scope="col">No</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Category</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Qty</th>
            <th scope="col">Seller Name</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody *ngFor="let product of allProductList">
          <tr>
            <th scope="row">1</th>
            <td class="align-middle py-1 pe-2 text-center">
              <img src="{{ product.productImage }}" alt="" class="pImage" />
            </td>
            <td>{{ product.productName }}</td>
            <td>{{ product.productDescription }}</td>
            <td class="align-middle p-1 text-center">
              {{ product.productCategory }}
            </td>
            <td class="align-middle p-1 text-center">
              {{ product.productPrice }}
            </td>
            <td class="align-middle p-1 text-center">
              {{ product.productQty }}
            </td>
            <td class="align-middle p-1 text-center">
              {{ product.productQty }}
            </td>
            <td class="align-middle p-1 text-center">
              <i
                class="fa-solid fa-pen-to-square fa-sm me-2"
                routerLink="/seller/updateproduct/{{ product._id }}"
              ></i>

              <i
                class="fa-solid fa-trash fa-sm"
                (click)="deleteProduct(product._id)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
