<div class="container-fluid pb-3 bg-body-secondary">
  <div class="row">
    <h3 class="text-center bg-danger-subtle py-2 rounded-2">Cart Page</h3>
  </div>
  <div class="col-6 d-inline-block p-3">
    <button class="btn btn-warning d-inline-block" (click)="backToHome()">
      <i class="fa-solid fa-arrow-left"></i> Back to Home Page
    </button>
  </div>
  <div class="row">
    <div class="col-8 mx-3">
      <p class="fs-6 fw-bolder mt-3 px-3">
        My Cart : Total {{ 2 }} items in the Cart.
      </p>
      <div
        class="card mb-3 p-3"
        *ngFor="let cartItemDetails of cartItemsDetails"
      >
        <div class="row g-0">
          <div class="col-md-2 align-self-center">
            <img
              src="{{ cartItemDetails.product.productImage }}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">
                {{ cartItemDetails.product.productName }}
              </h5>
              <p class="card-text fw-bold">
                {{ cartItemDetails.product.productPrice | currency : "₹ " }}
              </p>
              <p class="card-text">
                <i
                  class="fa-solid fa-trash-can bg-warning p-2"
                  (click)="deleteProductFromCart(cartItemDetails.product._id)"
                ></i>
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="orderQty">
              <label for="orderQty" class="fw-bolder mb-2">OrderQty</label
              ><input
                type="number"
                class="text-center fw-bold"
                name="{{ cartItemDetails.product._id }}"
                value="{{ cartItemDetails?.orderQty }}"
              />
            </div>
            <div class="my-2">
              <p class="text-danger fw-bold ms-3">
                <span class="fw-bolder">Sub Total : </span
                >{{
                  cartItemDetails.product.productPrice *
                    cartItemDetails.orderQty! | currency : "₹ "
                }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <p class="fw-bold text-danger">
        Shipping after Payment. Estimated delivery time : 2 to 3 working days.
      </p>
    </div>
    <div class="col-3">
      <div class="card">
        <h4 class="fw-bold p-3">Order Summary</h4>
        <!-- <img
          src="https://img.udaan.com/f_auto,q_auto:eco,w_800/u/products/m5uhs44ucaabcrhrhr05.054Z/ROSUSON-F-10-Tablet-10"
          class="card-img-top"
          alt="..."
        /> -->
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
