<div class="container">
  <h3 class="text-center bg-warning my-2 py-2">Seller Dashboard</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card text-bg-primary mb-3 text-center">
        <div class="card-body">
          <div class="card-header">
            <h3 class="card-title">Seller Name</h3>
          </div>
          <h5 class="mt-3 fs-5">{{ userData?.name }}</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-danger mb-3 text-center">
        <div class="card-body">
          <div class="card-header">
            <h3 class="card-title">Seller Mobile</h3>
          </div>
          <h5 class="mt-3 fs-5">{{ userData?.mobile }}</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-info mb-3 text-center">
        <div class="card-body">
          <div class="card-header">
            <h3 class="card-title">Seller Email</h3>
          </div>
          <h5 class="mt-3 fs-5">{{ userData?.email }}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-1 g-4">
    <div class="col">
      <div class="card text-bg-success mb-3 text-center">
        <div class="card-body">
          <div class="card-header">
            <h3 class="card-title">Total Product Added By Seller</h3>
          </div>
          <h5 class="mt-3 fs-4 fw-bold">{{ totalProducts }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
