<div class="container">
  <h4 class="text-center py-2 bg-warning mt-3">Update Product</h4>
    <div class="alert alert-primary m-3 p-2" role="alert" *ngIf="isDisabled"
      [ngClass]="success === true ? 'alert-primary' : 'alert-danger'">
      {{ showMsg }}
    </div>
  <div class="row">
    <form
      class="px-5 py-2"
      #updateProductForm="ngForm"
      (ngSubmit)="updateProductBySellerByProductId(updateProductForm.value)"
      enctype="multipart/form-data"
    >
      <!-- Product Image -->

      <div class="mb-3">
        <label for="formFile" class="form-label">Product Image</label>
        <input
          class="form-control"
          type="text"
          id="formFile"
          name="productImage"
          multiple
          ngModel="{{ productDetails?.productImage }}"
        />
      </div>

      <!-- Product Name  -->

      <div class="mb-3">
        <label for="formFile" class="form-label">Product Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Input Product Name"
          name="productName"
          ngModel="{{ productDetails?.productName }}"
        />
      </div>

      <!-- Product Description  -->

      <div class="mb-3">
        <label for="formFile" class="form-label">Product Description</label>
        <textarea
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Input Product Description"
          name="productDescription"
          ngModel="{{ productDetails?.productDescription }}"
        ></textarea>
      </div>

      <!-- Product Category  -->

      <div class="mb-3">
        <label for="formFile" class="form-label">Product Category</label>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"
            >Category</label
          >
          <select
            class="form-select text-black"
            id="inputGroupSelect01"
            name="productCategory"
            ngModel="{{ productDetails?.productCategory }}"
          >
            <option
              *ngFor="let category of Categories"
              value="{{ category.category }}"
            >
              {{ category.category }}
            </option>
          </select>
        </div>
      </div>

      <!-- Product Price  -->

      <div class="mb-3">
        <label for="formFile" class="form-label col-6">Product Price</label>
        <label for="formFile" class="form-label">Product Qty</label>
        <div class="row">
          <div class="col-6">
            <input
              type="number"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Input Product Price"
              name="productPrice"
              ngModel="{{ productDetails?.productPrice }}"
            />
          </div>
          <div class="col-6">
            <input
              type="number"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Input Product Qty"
              name="productQty"
              ngModel="{{ productDetails?.productQty }}"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Update Product</button>
      </div>
    </form>
  </div>
</div>
