<div class="container">
  <div class="row">
    <h1 class="text-center my-3">All Users</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile</th>
          <th scope="col">Role</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Ajay</td>
          <td>1a@gmail.com</td>
          <td>9408962999</td>
          <td>Admin</td>
          <td>Admin</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Hitesh</td>
          <td>2a@gmail.com</td>
          <td>9408962998</td>
          <td>Seller</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Dhvani</td>
          <td>3a@gmail.com</td>
          <td>9408962997</td>
          <td>User</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
