<div class="container">
  <div class="row">
    <h3 class="mt-3">Product Details Page</h3>
    <div
      class="card my-3"
      style="max-width: 900px"
      *ngFor="let product of productDetails"
    >
      <div class="row g-0">
        <div class="col-sm-3">
          <img
            src="{{ product.productImage }}"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="mb-3">
              <h5>Product Name :</h5>
              <h6 class="card-title ms-3">{{ product.productName }}</h6>
            </div>
            <div class="mb-3">
              <h5 class="d-inline">Product Category :</h5>
              <h6 class="card-title ms-3">
                {{ product.productCategory }}
              </h6>
            </div>
            <div class="mb-3">
              <h5>Product Description :</h5>
              <p class="card-text ms-3">
                {{ product.productDescription }}
              </p>
            </div>
            <div class="mb-3">
              <h5 class="d-inline">Product Price :</h5>
              <p class="card-text ms-3 d-inline">
                {{ product.productPrice | currency : "$ " }}
              </p>
            </div>

            <div class="mb-3">
              <button class="btn btn-primary" (click)="addToCart()">
                Add To Cart
              </button>
              <button class="btn btn-primary ms-3">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
