<div class="container">
  <div class="row">
    <h1 class="text-center my-3">All Sellers</h1>
    <div
      class="alert alert-primary m-3 p-2"
      *ngIf="isDisabled"
      [ngClass]="success === true ? 'alert-primary' : 'alert-danger'"
    >
      {{ showMsg }}
    </div>
    <div
      class="alert alert-primary m-3 p-2"
      role="alert"
      *ngIf="isDisabled"
      [ngClass]="success === true ? 'alert-primary' : 'alert-danger'"
    >
      {{ showMsg }}
    </div>
    <table class="table">
      <caption>
        All Seller from database
      </caption>
      <thead>
        <tr class="align-middle p-1 text-center">
          <th scope="col">No</th>
          <th scope="col">Seller Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile</th>
          <th scope="col">Role</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody *ngFor="let seller of allSellers">
        <tr class="align-middle p-1 text-center">
          <th scope="row">{{ index }}</th>
          <td>{{ seller.name }}</td>
          <td>{{ seller.email }}</td>
          <td>{{ seller.mobile }}</td>
          <td>{{ seller.role }}</td>
          <td class="align-middle p-1 text-center">
            <i
              class="fa-solid fa-pen-to-square fa-sm me-2"
              (click)="getUserByUserId(seller._id)"
            ></i>
            <i
              class="fa-solid fa-trash fa-sm"
              (click)="getUserByUserId(seller._id)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
